<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @seller.name %></p>
    <br>
    <p><strong>Rating:</strong></p>
    <p><%= @seller.rating %></p>
    <br>
  </div>
</div>