<div class="row">
  <div class="col-md-6">
    <h1>Categories <%= link_to 'Create new', new_category_path, class: 'btn btn-primary' %></h1>
    <%= count_for @categories, 'Total' %>
    <br>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <h3>Category details</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>
</div>