<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @category.name %></p>
    <br>
    <p><strong>Rating:</strong></p>
    <p><%= @category.description %></p>
    <br>
  </div>
</div>