<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @product.name %></p>
    <br>
    <p><strong>Price:</strong></p>
    <p><%= @product.price %></p>
    <br>
    <p><strong>Description:</strong></p>
    <p><%= @product.description %></p>
  </div>
</div>
